@import "tailwindcss";
html,body{
    height:100%;
}
body{
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
/* background: #eeaeea; */
/* background: linear-gradient(131deg, rgba(238, 174, 234, 1) 0%, rgba(255, 255, 255, 1) 55%, rgba(249, 200, 250, 1) 100%); */
}
h1, h2{
    font-family: "Roboto", sans-serif;
}

/* @layer utilities{
    .gradiant{
        background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
    }
} */